body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    
#container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

#calculator {
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
}

#display {
    border: 1px solid black;
    text-align: end;
    padding: .5rem;
}

#display-b {
    height: 1.5rem;
}

#display-a {
    height: 2rem;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.65rem;
    margin-top: 1rem;
}

#buttons > button {
    padding: .85rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}