body {
    font-family:
    system-ui, 
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    Roboto, 
    Oxygen, 
    Ubuntu, 
    Cantarell, 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;
}
    
#container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: start;
    text-align: center;
}

#calculator {
    width: 300px;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem;
    background: linear-gradient(-45deg, rgb(22, 22, 22), rgb(77, 77, 77));
    box-shadow: 2px 2px 10px rgba(2, 2, 2, 0.418);
}

#display {
    border: 1px solid black;
    border-radius: .5rem;
    text-align: end;
    padding: .5rem;
    background-color:rgb(205, 225, 255);
    box-shadow: inset 1px 1px 4px rgba(2, 2, 2, 0.4);
}

#display-b {
    height: 2rem;
}

#display-a {
    display: flex;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: end;
    align-items: end;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.65rem;
    margin-top: 1rem;
}

#buttons > button {
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.6);
}

#buttons > button:hover {
    filter: brightness(120%);
    transform: scale(1.02);
    cursor: pointer;
}

#buttons > button:active {
    filter: brightness(80%);
    transform: scale(0.98);
}

.button-number {
    background: linear-gradient(-45deg, rgb(228, 228, 228), rgb(214, 214, 214));
}

.button-operator {
    background: linear-gradient(-45deg, rgb(75, 175, 20), rgb(125, 225, 70));
}

#button-clear {
    background: linear-gradient(-45deg, rgb(190, 0,0), rgb(255, 0, 0));
}

#button-delete {
    background: linear-gradient(-45deg, rgb(205, 100, 0), rgb(255, 150, 50));
}

#button-equals {
    background: linear-gradient(-45deg, rgb(0, 125, 180), rgb(0, 175, 230));
}