#container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    align-items: center;
}

#calculator {
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
}

#display {
    border: 1px solid black;
}

#display-b {
    height: 1.5rem;
    border: 1px solid gray;
}

#display-a {
    height: 2rem;
    border: 1px solid gray;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.65rem;
    border: 1px solid black;
    margin-top: 1rem;
}

#buttons > button {
    padding: .85rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}